@tailwind base;
@tailwind components;
@tailwind utilities;


/* new section for app  */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}


:root {
  --font-primary: 'Poppins', sans-serif;
   --color-primary: #7766C6; 
  --color-dark-purple: #46467A;
  --color-secondary: #FFC212;
  --color-tertiary: #F9B0C3;
  --color-base: #ffffff;
  --color-medium-purple: #E0DFFD;
  --color-gray-light: #D9D9D9;
  
}
body { font-family: 'Poppins', sans-serif; }



